# Python basics I: print, comments, otros aspectos básicos

https://colab.research.google.com/drive/1HO0OhEZSzoDzLlXeYkTckULnHIE-SPMs#Comentarios

## Print

In [1]:
ingresos = 1000
gastos = 100
beneficios = ingresos - gastos

In [3]:
print(ingresos)
print(gastos)
print("los beneficios han sido de:")
print(beneficios)

1000
100
los beneficios han sido de:
900

In [6]:
mes = 'junio'
print("los beneficios de %s han sido %s milliones" %(mes, beneficios))

los beneficios de junio han sido 900 milliones

In [7]:
print("los benedicios %s han sido %s milliones" %(beneficios, mes))

los benedicios 900 han sido junio milliones

In [8]:
mes = "agosto"
print("los benedicios de ",mes, "han sido", beneficios, " milliones")

los benedicios de  agosto han sido 900  milliones

## comments

In [11]:
# comentario de línea 
# print('lo ignora')

print("esto si que ejecuta")       #comentario de código

esto si que ejecuta

In [13]:
'''
comentario de bloque, multilineas
'''

"""
pueden ir entre comillas dobles; no se ejecuta
"""

print("este si se ejecuta")

este si se ejecuta

Guia:  
https://www.google.com/url?q=https%3A%2F%2Frealpython.com%2Fpython-comments-guide%2F

## flujos de exec

es importante la orden de ejecución

In [14]:
ventas_jun_jul = ventas_jun + ventas_jul

ventas_jun = 100
ventas_jul = 150

NameError: name 'ventas_jun' is not defined

al haber dado error ya no se han init las variables; ojo asignar antes de intentar usar

In [15]:
ventas_jun = 100
ventas_jul = 150
ventas_jun_jul = ventas_jun + ventas_jul

print("las ventas de junio a julio son", ventas_jun_jul)

las ventas de junio a julio son 250

chracter de finde linea de código `;`

In [18]:
altura = 1.80; peso = 75
print(altura, peso)

1.8 75

In [19]:
# otra forma de declarar multiple

x, y, z = 12, 23, 45
print(x, y, z)

12 23 45

In [20]:
x = 12
y = 23
z = 45

## Del - borrar variable

muchos datos, imgs, videos

In [22]:
altura = 1.85

print('antes', altura)

del altura

print('despues de del', altura)

antes 1.85

NameError: name 'altura' is not defined