# **Funciones**

URL: 
* https://colab.research.google.com/drive/1ovnlKATqA3Baf1pNUM0QChNbcAk55bPi
* https://colab.research.google.com/drive/1MDzENyciW5CEgc5QcZCDo9LX0HbVPRuC

* `Def y sintáxis`

- print, type, round, len, ...
- varias ops que se repiten
- `return` es opcional

In [ ]:
def nombre_fct(entrada):
    """
    Fonction qui renvoie la valeur de l'argument d'entrée.
    :param entrada: Valeur d'entrée
    :return: Valeur d'entrée
    """
    # operaciones_varias
    return entrada

In [8]:
def convert_km_millas(km):
    """
    Convertit une distance en kilomètres en milles.
    :param km: Distance en kilomètres
    :return: Distance en milles
    """
    return round(km * 0.621371, 1)

In [11]:
print(convert_km_millas(221))  # Exemple d'utilisation de la fonction

137.3

In [10]:
unas_millas = convert_km_millas(200); print(unas_millas)

124.3

In [15]:
from datetime import datetime

# fct donde na hacen falta argumentos pero si parentesis <----------------------
def que_hora_es():
    """
    Fonction qui renvoie l'heure actuelle.
    :return: Heure actuelle
    """
    return datetime.now().strftime("%H:%M:%S")

In [14]:
print(que_hora_es())  # Exemple d'utilisation de la fonction

16:42:56

In [16]:
from datetime import datetime

# fct donde na hacen falta argumentos pero si parentesis <----------------------
def que_hora_es():
    """
    Fonction qui renvoie l'heure actuelle.
    :return: Heure actuelle
    """
    print(datetime.now().strftime("%H:%M:%S"))

In [17]:
que_hora_es()  # Exemple d'utilisation de la fonction

16:54:26

## **Fct def por usu**

In [ ]:
from datetime import datetime

# fct donde na hacen falta argumentos pero si parentesis <----------------------
def que_hora_es():
    """
    Fonction qui renvoie l'heure actuelle.
    :return: Heure actuelle
    """
    print(datetime.now().strftime("%H:%M:%S"))

In [19]:
hora = que_hora_es()  # Exemple d'utilisation de la fonction
print(hora, type(hora))  # Affiche l'heure actuelle

17:00:06
None <class 'NoneType'>

In [22]:
print(now) # existe solo dentro de la function

NameError: name 'now' is not defined

* devolver `multiples valores` en el _return_ y devuelve una `tupla`

In [25]:
def convert_km_millas(km):
    """
    Convertit une distance en kilomètres en milles.
    :param km: Distance en kilomètres
    :return: Distance en milles
    """
    millas = km * 0.621371
    return round(millas, 1), millas,  km * 1000

In [ ]:
millas_redondeadas, millas_no_redondeadas, km_metros = convert_km_millas(200)

In [30]:
print(type(convert_km_millas(221)))
print((convert_km_millas(221)))

<class 'tuple'>
(137.3, 137.322991, 221000)

se puede convertir el tipo de la salida... por ej. devolver una `lista` en vez de tupla

In [1]:
def convert_km_millas_return_list(km):
    """
    Convertit une distance en kilomètres en milles.
    :param km: Distance en kilomètres
    :return: Distance en milles
    """
    millas = km * 0.621371
    return [round(millas, 1), millas,  km * 1000]

res_lst_km_2_millas = convert_km_millas_return_list(200)
print(res_lst_km_2_millas)

* `tipos de datos de los args`

In [5]:
def recibe_mix(tupla, lista, diccionario):
    print("tupla contiene: ", tupla, "y es de tipo: ", type(tupla))
    print("lista contiene: ", lista, "y es de tipo: ", type(lista))
    print("diccionario contiene: ", diccionario, "y es de tipo: ", type(diccionario))

    return [type(tupla), type(lista), type(diccionario)]

In [7]:
tupla = (12, 34, 23)
lista = ["esto", "es", "una", "lista"]
diccionario = {"uno": 1, "dos": 2, "tres": 3}
recibe_mix(tupla, lista, diccionario)

tupla contiene:  (12, 34, 23) y es de tipo:  <class 'tuple'>
lista contiene:  ['esto', 'es', 'una', 'lista'] y es de tipo:  <class 'list'>
diccionario contiene:  {'uno': 1, 'dos': 2, 'tres': 3} y es de tipo:  <class 'dict'>

[tuple, list, dict]

In [8]:
recibe_mix(1, "hola", True)

tupla contiene:  1 y es de tipo:  <class 'int'>
lista contiene:  hola y es de tipo:  <class 'str'>
diccionario contiene:  True y es de tipo:  <class 'bool'>

[int, str, bool]

al no especificar el tipo de dato, se puede pasar cualquier tipo de dato a la función

* `errores` tipicos con funciones
    - intentar acceder a un a variable de exterior de la función

In [15]:
def km_2_millas(dist):
    millas = round(dist * 0.62, 2)
    return millas

print(km_2_millas(200))
print(millas)

124.0

NameError: name 'millas' is not defined

In [17]:
def numero_if(nr):
    if nr == 1:
        out = 1
    return out

numero_if(1)

1

In [18]:
numero_if(2)

UnboundLocalError: cannot access local variable 'out' where it is not associated with a value

al intentar acceder al valor de _out_ que no está asignado en el marco de la llamada de la fct con 2

* otro error: llamar fct sin args cuando este los espera

In [19]:
km_2_millas()

TypeError: km_2_millas() missing 1 required positional argument: 'dist'

* sintaxis de linea : en fct e indentación