# Args posicionales & variables

URL: 
* https://colab.research.google.com/drive/1pUIkRmndSjGrSpGGxMyF5SQnrBO1VDCg
* https://colab.research.google.com/drive/13huw3T3XLthi8OJXJLUbQe0Vc3GLBvZV

## Intro

* **orden** de los _args_ - `posicionales`
* si los declaramos son **obligatorios**

In [3]:
def multiply(x1, x2, x3, x4):
    """
    multiplicamos los tres primeros y el res lo
    dividimos entre el cuarto
    """
    resultado = (x1 * x2 * x3) / x4
    return resultado

multiply(3, 4, 5, 6)

10.0

In [5]:
multiply(x1 = 3, x4 = 6, x3 = 5, x2 = 4)

10.0

### Errores

In [7]:
multiply(x4 = 0, x1 = 3, x2 = 5, x3 = 12)

ZeroDivisionError: division by zero

In [10]:
try:
    multiply(x4 = 0, x1 = 3, x2 = 5, x3 = 12)
except ZeroDivisionError as e:
    print("Error en la fct")
    print(f"Error: {e}")

Error en la fct
Error: division by zero

`gestión de excepciones`

In [11]:
def multiply(x1, x2, x3, x4):
    """
    multiplicamos los tres primeros y el res lo
    dividimos entre el cuarto
    """
    try:
        resultado = (x1 * x2 * x3) / x4
    except ZeroDivisionError as e:
        print("Error en la fct")
        print(f"Error: {e}")
        resultado = None
    return resultado

multiply(3, 4, 5, 6)

10.0

In [16]:
def multiply(x1, x2, x3, x4):
    """
    multiplicamos los tres primeros y el res lo
    dividimos entre el cuarto
    """
    if x4 == 0:
        print("Error en la ; arg x4 inválido")
    else:
        resultado = (x1 * x2 * x3) / x4
        return resultado

multiply(3, 4, 5, 6)

10.0

## ***Args variables***

* fct con un nº de _args_ no fijados

flexibilidad a través del `*`

In [3]:
def multiply(*argumentos):
    print(argumentos)
    print(type(argumentos))

multiply(2, 3, 5)
multiply(1, 2, 4, 67, 4)

(2, 3, 5)
<class 'tuple'>
(1, 2, 4, 67, 4)
<class 'tuple'>

In [5]:
def multiply(*args):
    res = 1
    for elem in args:
        res *= elem
    print("el resultado es: ", res)
    return res

multiply(2, 3, 5)
multiply(22, 12)
multiply()

el resultado es:  30
el resultado es:  264
el resultado es:  1

1

* `*args` es un iterable, más concreto una `tupla`
* se puede acceder a través del `indice`

In [8]:
def multiply(*args):
    res = 1
    for elem in args:
        # puedo acceder al siguiente elemento de la siguiente forma:
        # print("el siguiente elem es", args[args.index(elem) + 1])
        # o de esta forma:
        print("el siguiente elem es", args[args.index(elem) + 1] if args.index(elem) + 1 < len(args) else None)
        res *= elem
    print("el resultado es: ", res)
    return res

multiply(2, 3, 5)
multiply(22, 12)
multiply()

el siguiente elem es 3
el siguiente elem es 5
el siguiente elem es None
el resultado es:  30
el siguiente elem es 12
el siguiente elem es None
el resultado es:  264
el resultado es:  1

1

In [11]:
def multiply_bis(*args):
    res = 1
    for indice, elem in enumerate(args):
        print("el siguiente elem es", args[indice])
        res *= elem
    print("el resultado es: ", res)
    return res

multiply_bis(2, 3, 5)
multiply_bis(22, 12)
multiply_bis()

el siguiente elem es 2
el siguiente elem es 3
el siguiente elem es 5
el resultado es:  30
el siguiente elem es 22
el siguiente elem es 12
el resultado es:  264
el resultado es:  1

1

* se pueden combinar args posicionales con *variables

In [12]:
def multiply_div(*args, div):
    res = 1
    for i in args:
        res *= i
    res = res / div
    return res

multiply_div(2, 3, 5, div=2)

15.0

In [17]:
def multiply_div(div, *args):
    res = 1
    for i in args:
        res *= i
    res = res / div
    return res

multiply_div(2, 2, 3, 5) # no hace ya falta especificar ya que el div es el primero

15.0

### Errores