# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [172]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [173]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
df_chipo = pd.read_csv(url, sep="\t")
df_chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [174]:
df_chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [212]:
df_chipo.describe(include='all')

,order_id,quantity,item_name,choice_description,item_price,unit_price
count,4622.000000,4622.000000,4622,3376,4622.000000,4622.000000
unique,NaN,NaN,50,1043,NaN,NaN
top,NaN,NaN,Chicken Bowl,[Diet Coke],NaN,NaN
freq,NaN,NaN,726,134,NaN,NaN
mean,927.254868,1.075725,NaN,NaN,7.464336,7.084424
std,528.890796,0.410186,NaN,NaN,4.245557,3.665487
min,1.000000,1.000000,NaN,NaN,1.090000,1.090000
25%,477.250000,1.000000,NaN,NaN,3.390000,2.950000
50%,926.000000,1.000000,NaN,NaN,8.750000,8.750000
75%,1393.000000,1.000000,NaN,NaN,9.250000,9.250000
max,1834.000000,15.000000,NaN,NaN,44.250000,11.890000

### Step 3. Name of the max valued product

alternativa con `apply`

In [ ]:
df_chipo["item_price"] = df_chipo["item_price"].str.replace("$", "").astype(float)

In [176]:
df_chipo["unit_price"] = df_chipo.item_price / df_chipo.quantity

In [177]:
df_chipo["unit_price"].describe()

count    4622.000000
mean        7.084424
std         3.665487
min         1.090000
25%         2.950000
50%         8.750000
75%         9.250000
max        11.890000
Name: unit_price, dtype: float64

In [178]:
df_chipo.unit_price.max()

np.float64(11.89)

In [179]:
print(df_chipo[df_chipo.unit_price == df_chipo.unit_price.max()]['item_name'].unique())

['Steak Salad Bowl' 'Carnitas Salad Bowl' 'Barbacoa Salad Bowl']

In [180]:
df_chipo.loc[df_chipo.unit_price.idxmax(), 'item_name']

'Steak Salad Bowl'

### Step 4. How many products cost more than $10.00?

In [181]:
df_chipo.item_name[df_chipo.unit_price > 10].unique()

array(['Chicken Bowl', 'Steak Burrito', 'Chicken Burrito',
       'Barbacoa Bowl', 'Veggie Burrito', 'Veggie Bowl',
       'Chicken Soft Tacos', 'Steak Bowl', 'Carnitas Burrito',
       'Carnitas Bowl', 'Barbacoa Burrito', 'Chicken Salad Bowl',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl', 'Chicken Salad',
       'Steak Salad Bowl', 'Chicken Crispy Tacos', 'Veggie Soft Tacos',
       'Barbacoa Soft Tacos', 'Carnitas Crispy Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Steak Soft Tacos',
       'Carnitas Soft Tacos', 'Steak Crispy Tacos'], dtype=object)

In [182]:
df_chipo.item_name[df_chipo.unit_price > 10].nunique()

25

### Step 4.1: Y cuántos pedidos se han hecho con un producto de más de 10$? Es lo mismo?

In [183]:
df_chipo.order_id[df_chipo.unit_price > 10].nunique()

787

### Step 4.2: Y cuántos pedidos se han hecho de más de 10$? Es lo mismo?

In [ ]:
# df_chipo.order_id[df_chipo.item_price > 10].nunique()  MAL :(

863

hay que agrupar los pdos y hacerlo sobre eso

In [214]:
pdo = df_chipo.groupby('order_id')['item_price'].sum()
len(pdo[ pdo > 10])

1834

### Step 4.3: Y en cuántos pedidos se ha pagado más de 10$ por un mismo producto? Es lo mismo?

In [216]:
df_chipo[df_chipo.item_price > 10].groupby(['order_id', 'item_name']).sum()  # size inludes NaN values, meanwhile count nope

                             quantity  \
order_id item_name
2        Chicken Bowl               2
3        Chicken Bowl               1
4        Steak Burrito              1
7        Chicken Bowl               1
12       Chicken Burrito            1
...                               ...
1829     Veggie Burrito             1
1830     Steak Burrito              1
         Veggie Burrito             1
1833     Steak Burrito              2
1834     Chicken Salad Bowl         1

                                                            choice_description  \
order_id item_name
2        Chicken Bowl        [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
3        Chicken Bowl        [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...
4        Steak Burrito       [Tomatillo Red Chili Salsa, [Fajita Vegetables...
7        Chicken Bowl        [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...
12       Chicken Burrito     [[Tomatillo-Green Chili Salsa (Medium), Tomati...
...                                                                        ...
1829     Veggie Burrito      [Tomatillo Red Chili Salsa, [Fajita Vegetables...
1830     Steak Burrito       [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...
         Veggie Burrito      [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...
1833     Steak Burrito       [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...
1834     Chicken Salad Bowl  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...

                             item_price  unit_price
order_id item_name
2        Chicken Bowl             16.98        8.49
3        Chicken Bowl             10.98       10.98
4        Steak Burrito            11.75       11.75
7        Chicken Bowl             11.25       11.25
12       Chicken Burrito          10.98       10.98
...                                 ...         ...
1829     Veggie Burrito           11.25       11.25
1830     Steak Burrito            11.75       11.75
         Veggie Burrito           11.25       11.25
1833     Steak Burrito            23.50       23.50
1834     Chicken Salad Bowl       11.25       11.25

[1067 rows x 4 columns]

In [186]:
len(df_chipo[df_chipo.item_price > 10].groupby(['order_id', 'item_name']).size())   # size inludes NaN values, meanwhile count nope

1067

### Step 5. What is the price of each item and name it unit_price. Get only item_name and unit_price

In [187]:
df_reduced = df_chipo[["item_name", "unit_price"]]
df_reduced.head()

                               item_name  unit_price
0           Chips and Fresh Tomato Salsa        2.39
1                                   Izze        3.39
2                       Nantucket Nectar        3.39
3  Chips and Tomatillo-Green Chili Salsa        2.39
4                           Chicken Bowl        8.49

In [ ]:
df_reduced = df_chipo[["item_name", "unit_price"]].drop_duplicates()        # precio unitario
df_reduced.head()

                               item_name  unit_price
0           Chips and Fresh Tomato Salsa        2.39
1                                   Izze        3.39
2                       Nantucket Nectar        3.39
3  Chips and Tomatillo-Green Chili Salsa        2.39
4                           Chicken Bowl        8.49

### Step 6. Sort by the name of the item

In [ ]:
# df_reduced.sort_values(by='item_name', inplace=True)
df_reduced = df_reduced.sort_values(by='item_name')             # .sort_values(['item_name'] ascending = True)
df_reduced.head(), df_reduced.tail()

(              item_name  unit_price
 3389  6 Pack Soft Drink        6.49
 341   6 Pack Soft Drink        6.49
 1849  6 Pack Soft Drink        6.49
 1860  6 Pack Soft Drink        6.49
 2713  6 Pack Soft Drink        6.49,
               item_name  unit_price
 2384  Veggie Soft Tacos        8.75
 781   Veggie Soft Tacos        8.75
 2851  Veggie Soft Tacos        8.49
 1699  Veggie Soft Tacos       11.25
 1395  Veggie Soft Tacos        8.49)

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [200]:
df_chipo[df_chipo.unit_price == df_chipo.unit_price.max()]

most_expensive_item = df_chipo[df_chipo.unit_price == df_chipo.unit_price.max()]

grouped_qty = most_expensive_item.groupby('item_name')['quantity'].sum()

grouped_qty

item_name
Barbacoa Salad Bowl     5
Carnitas Salad Bowl     4
Steak Salad Bowl       21
Name: quantity, dtype: int64

In [211]:
max_unit_price_index = df_chipo['unit_price'].idxmax()

most_expensive_item_name = df_chipo.loc[max_unit_price_index, 'item_name']

most_expensive_item_qty = df_chipo[df_chipo['item_name'] == most_expensive_item_name]
most_expensive_item_qty.head()

,order_id,quantity,item_name,choice_description,item_price,unit_price
281,123,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",23.78,11.89
606,250,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Gua...",11.89,11.89
607,250,1,Steak Salad Bowl,"[Fresh Tomato Salsa, Lettuce]",9.39,9.39
613,253,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",23.78,11.89
749,309,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Cheese, Lett...",11.89,11.89

In [ ]:
most_expensive_item_qty[most_expensive_item_qty.unit_price == most_expensive_item_qty.unit_price.max()]['quantity'].sum()

np.int64(21)

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [81]:
len(df_chipo.order_id[df_chipo.item_name == 'Veggie Salad Bowl'])

18

In [219]:
df_chipo[df_chipo.item_name == 'Veggie Salad Bowl']['quantity'].sum()

np.int64(18)

In [221]:
df_chipo['item_name'].value_counts()['Veggie Salad Bowl']

np.int64(18)

In [222]:
df_chipo.order_id[df_chipo.item_name == 'Veggie Salad Bowl'].shape[0]

18

### Step 9. How many times did someone order more than one Canned Soda?

In [106]:
arr_item_names = df_chipo.item_name.unique()
[i for i in arr_item_names if "canned" in i.lower()]

['Canned Soda', 'Canned Soft Drink']

In [115]:
filtro = (df_chipo['item_name'].isin(['Canned Soda', 'Canned Soft Drink'])) & (df_chipo['quantity'] > 1)
resultado = df_chipo[filtro]
print(len(resultado))

57