# Obtén y conoce tus datos



### 1. Importa las librerías necesarias

In [110]:
import numpy as np
import pandas as pd

### 2. Importa el dataset de este [enlace](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user) y guárdalo en una variable llamada users. Usa pd.read_csv()

In [111]:
str_url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
users = pd.read_csv(str_url, sep="|", index_col="user_id")
users.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

### 3. Muestra las 25 primeros registros

In [ ]:
users.head(25)

In [ ]:
users[:25]

### 4. Muestra las 25 primeros registros de otra forma

In [ ]:
users.iloc[:25]

### 5. Muestra los últimos 25 registros

In [ ]:
users.tail(25)

In [ ]:
users[(users.shape[0]-25):]

In [ ]:
users.loc[(users.shape[0]-24):]

In [ ]:
users.iloc[users.shape[0]-25:]

### 6. Cuántos registros hay en total en este dataset?
Resuélvelo de al menos dos formas diferentes

In [54]:
print(users.shape[0], "registros")

943 registros

In [57]:
print(users.age.count(), "registros")

943 registros

### 7. Cuántas columnas hay en total en este dataset?
Resuélvelo de al menos dos formas diferentes

In [58]:
print(users.shape[1], "columnas")

4 columnas

### 8. Haz un print de cada uno de los nombres de las columnas

In [128]:
print(*users.columns.values)

age gender occupation zip_code

In [125]:
print(*[name for name in users.columns.values], sep='\n')

age
gender
occupation
zip_code

### 9. Accede al índice, a los nombres de las columnas y a los valores por separado

In [ ]:
users.index

In [86]:
users.columns

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [ ]:
users.values

### 10. Cuál es el tipo de cada columna del dataset?
Hazlo de dos formas diferentes

In [67]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 69.1+ KB

In [70]:
users.dtypes

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### 11. Haz un print solo de la columna de occupation
Hazlo de dos formas diferentes

In [ ]:
users.occupation

In [ ]:
users['occupation']

### 12. ¿Cuántas profesiones diferentes hay? ¿Y personas por profesión?

In [106]:
# cuantas profesiones diferente hay
len(users.occupation.unique())

21

In [104]:
users.occupation.describe()['unique']

21

In [84]:
# personas por profesión
users['occupation'].value_counts()

occupation
student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: count, dtype: int64

### 13. ¿Cuál es la profesión más común?

In [ ]:
users['occupation'].value_counts().idxmax()

'student'

In [102]:
users.occupation.describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

In [100]:
users.occupation.describe()['top']

'student'

### 14. Obtén un resumen de las principales medidas estadísticas de las variables numéricas.  Usa describe()

In [129]:
users.describe()    # por defecto solo numericas

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

### 15. Obtén un resumen de las principales medidas estadísticas de todas las variables.  Usa describe()

In [98]:
users.describe(include='all')

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

### 16. Obtén un resumen de las principales medidas estadísticas de solo la columna occupation.  Usa describe()

In [88]:
users.occupation.describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

### 17. ¿Cuál es la edad media?

In [80]:
print(users.age.mean())

34.05196182396607

In [96]:
print(users.age.describe()['mean'])

34.05196182396607

### 18. ¿Cuál es la edad menos frecuente?

In [90]:
print(users.age.value_counts().idxmin())

7

In [139]:
age_count = users['age'].value_counts()

min_freq = age_count.min()
min_freq

np.int64(1)

In [145]:
print("Edades menos frecuentes:", *age_count[age_count == min_freq ].index, sep='\n')

Edades menos frecuentes:
7
11
66
10
73